body{
	margin: 0;
	padding: 0;
	font-family:sans-serif ;
}
section
{
	padding : 0 100px;
	background: url(image.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 100vh;
	display: flex;
	align-items :center;
	flex-direction:row-reverse;
}
.box
{
	position: relative;
	max-width: 600px;
	padding: 50px;
   background: rgba(255,255,255,.2);
	box- shadow:0 5px 15px rgba(0,0,0,.5);
}
.box p
{
	margin: 0 0 18px;
	padding : 0;
	font-size:18px;
	text-transform:uppercase;
	color:white;
}
